/* Example of @import use
This imports the `reset.css` file */
@import './reset.css';

header {
  position: sticky;
  top: 0;
  width: 100%;
  background: white;
  flex-flow: row nowrap;
  height: var(--header-height);
  z-index: 5;
}

.brand {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  margin-left: 12px;
  color: var(--site-color);
  flex: 200px 1;
  font-size: 18px;
}

.brand a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  margin-left: 10px;
}

.nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-right: 24px;
}

.nav-button > i {
  color: var(--site-color);
  transform: scale(1.5);
}

.nav-button:hover {
  box-shadow: 0 0 1px 1px lightgray;
  border-radius: 2px;
}

#hidden-toggler {
  display: none;
}

.nav {
  position: static;
  flex-flow: row wrap;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  list-style: none;
  flex: 200px 9;
  display: none;
}

.nav-link {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: black;
  display: inline-block;
  padding: 0.5rem;
}

.headlines {
  position: relative;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  align-items: flex-start;
  background: url(../img/background_mobile.svg), white;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - var(--header-height));
  padding-inline: 24px;
  gap: 12px;
  border-bottom-left-radius: 3rem;
}

.headlines .heading {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
  text-align: left;
  color: #172b4d;
}

.headlines .content {
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #344563;
}

.connect {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.connect-heading {
  text-transform: uppercase;
  color: var(--site-color);
  font-weight: lighter;
  width: 100%;
}

.connect-icons {
  display: flex;
  align-items: center;
  margin: 0;
  gap: 1em;
  list-style: none;
}

/* ---------------------
    Work Section
  --------------------- */

.works {
  display: grid;
  justify-items: center;
  padding: 12px;
  background: white;
  border-radius: 1rem;
}

.works-content {
  display: flex;
  flex-flow: column wrap;
  gap: 24px;
}

.content-heading * {
  margin-top: 6px;
}

.content-heading > h2 {
  color: var(--content-heading);
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
}

.content-heading > ul {
  display: flex;
  gap: 1.5rem;
  flex-flow: row wrap;
  color: #7a869a;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.content-heading > ul > li:first-child {
  list-style: none;
  text-transform: uppercase;
  color: #344563;
}

.snapshot {
  background: white;
  border-radius: 1rem;
}

.snapshot > img {
  height: 100%;
  border-radius: 5px;
}

.content-description > p {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.content-actions {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.action {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  background: #ebebff;
  border-radius: 5px;
}

.action span {
  color: #6070ff;
  font-size: 12px;
  font-weight: 500;
}

.works-container {
  display: grid;
  grid-auto-rows: 100vh;
  padding: 12px;
  background: var(--main-background);
}

.works-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.works-content > button {
  width: 128px;
  height: 48px;
}

/* ----------------------- * /
    About Myself
/* ----------------------- */

.about {
  display: flex;
  background: white;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 12px;
  padding-top: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
  height: max-content;
}

.about-nav {
  display: block;
  font-size: 20px;
  list-style: none;
  width: 90%;
  margin: auto;
  min-height: 50px;
  border-bottom: 1px solid var(--main-background);
  padding-bottom: 12px;
  position: relative;
}

.about-nav-item {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 24px;
  background: #f7f7f9;
  align-items: center;
  gap: 12px;
  height: 50px;
  font-size: 15px;
  color: #253858;
  text-transform: uppercase;
}

.about-nav-item > img {
  width: 50px;
  height: 100%;
  border-radius: 50%;
}

/* The first child of the as the title */
#languages,
#frameworks,
#skills {
  position: relative;
  text-transform: capitalize;
}

.about-nav > li:first-child span {
  position: absolute;
  transform: scale(1.5);
  right: 0;
  cursor: pointer;
}

/* Rotate languages arrow */
#languages > span {
  transform: scale(1.5) rotateZ(90deg);
}
