header {
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
}

.brand {
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  margin-left: 1rem;
  color: var(--site-color);
  flex: 200px 1;
}

.nav-button {
  display: none;
  background: url(../img/menu.svg);
  background-repeat: no-repeat;
  background-size: 50% 50%;
  background-position: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-right: 1rem;
  z-index: 4;
}

.nav-button:hover {
  box-shadow: 0 0 1px 1px lightgray;
  border-radius: 2px;
}

#hidden-toggler {
  display: none;
}

#hidden-toggler:checked ~ .nav-button {
  background: url(../img/close.svg);
  background-repeat: no-repeat;
  background-size: 50% 50%;
  background-position: 50%;
}

.nav {
  position: static;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  list-style: none;
  flex: 200px 9;
}

.nav-link {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: black;
  display: inline-block;
  padding: 0.5rem;
}

main {
  margin: 1.5rem;
}

.connect {
  display: flex;
  width: 100%;
  flex-flow: column wrap;
  align-items: flex-start;
  gap: 1em;
  margin-top: 1em;
}

.connect h4 {
  text-transform: uppercase;
  color: var(--site-color);
  font-weight: lighter;
}

.icons {
  display: flex;
  gap: 1em;
}

@media screen and (max-width: 760px) {
  .nav {
    position: absolute;
    display: none;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    list-style: none;
    background: rgba(96, 112, 255, 0.8);
    backdrop-filter: blur(2px);
    padding-top: 5vh;
  }

  .nav-button {
    display: block;
  }

  #hidden-toggler:checked ~ .nav-button:hover {
    box-shadow: 0 0 0 0 lightgray;
  }

  #hidden-toggler:checked ~ .nav {
    display: flex;
    height: 100vh;
  }

  .nav-link {
    color: white;
    font-size: 2rem;
    margin-left: 1rem;
    font-weight: 400;
  }
}
