/* Base styles */
:root {
  --site-color: #475aff;
  --header-height: 48px;
  --main-background: #f7f7f9;
  --content-heading: #172b4d;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--main-background);
}

img {
  width: 100%;
  display: block;
}

.flex {
  display: flex;
}

.justify-c {
  justify-content: center;
}

.align-c {
  align-items: center;
}

.grid {
  display: grid;
}

button {
  border: 1px solid var(--site-color);
  border-radius: 8px;
  font-size: 17px;
  color: var(--site-color);
  background: white;
  margin-bottom: 12px;
  text-transform: capitalize;
  padding: 12px;
}

button:hover {
  background: #2230d2;
  color: white;
}
